.documents-inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #d3d3d3;
}

.document-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
