<div class="multistep-form">
  <div class="section-heading-container">
    <h1 class="section-heading-bg">Know your customer documents</h1>
    <p class="section-heading-sm">Upload your Documents</p>
  </div>
  <div class="documents-inputs-container">
    <div class="document-input-wrapper">
      <p class="instr-text heading-text">Copy of National ID</p>
      <p class="instr-text">Required (PNG, JPG or PDF(Max. 1Mb))</p>
    </div>
    <div class="document-input-wrapper">
      <p class="instr-text heading-text">Proof of Residence</p>
      <p class="instr-text">Required (PNG, JPG or PDF(Max. 1Mb))</p>
    </div>
    <div class="document-input-wrapper">
      <p class="instr-text heading-text">Pay Slip/p></p>
      <p class="instr-text">Required (PNG, JPG or PDF(Max. 1Mb))</p>
    </div>
    <div class="document-input-wrapper">
      <p class="instr-text heading-text">Bank Statement</p>
      <p class="instr-text">Required (PNG, JPG or PDF(Max. 1Mb))</p>
    </div>
    <div class="document-input-wrapper">
      <p class="instr-text heading-text">Confirmation of Employement</p>
      <p class="instr-text">Required (PNG, JPG or PDF(Max. 1Mb))</p>
    </div>
  </div>
  <div>
    <button class="attach-file-btn">Add Documents</button>
  </div>
  <div class="navigation-buttons-container">
    <button (click)="handlePrev()" class="navigation-button">Previous</button>
    <button (click)="handleFormSubmit()" class="navigation-button">
      Submit
    </button>
  </div>
</div>
