<div class="multistep-form">
  <div class="section-heading-container">
    <h1 class="section-heading-bg">Employer Details</h1>
    <p class="section-heading-sm">Employer Contact Details</p>
  </div>
  <form class="add-category-details-cont">
    <div class="form_control">
      <label class="input_label">
        Employer Name
      </label>
      <input
        name="employerName"
        [(ngModel)]="formData.employerDetails.employerName"
        required
        class="input_area"
      />
      <p
        *ngIf="formSubmitted && !formData.employerDetails.employerName"
        class="error-message"
      >
        Employer Name is required.
      </p>
    </div>
    <div class="form_control">
      <label class="input_label">
        Email
      </label>
      <input
        type="text"
        name="employerEmail"
        [(ngModel)]="formData.employerDetails.employerEmail"
        required
        class="input_area"
      />
      <p
        *ngIf="formSubmitted && !formData.employerDetails.employerEmail"
        class="error-message"
      >
        Employer Email is required.
      </p>
      <p
        *ngIf="
          formSubmitted &&
          (!formData.employerDetails.employerEmail || errorMessage)
        "
        class="error-message"
      >
        {{ errorMessage }}
      </p>
    </div>

    <div class="form_control">
      <label class="input_label">
        Mobile Number
      </label>
      <input
        type="text"
        name="employerPhone"
        [(ngModel)]="formData.employerDetails.employerPhone"
        class="input_area"
        required
      />
      <p
        *ngIf="formSubmitted && !formData.employerDetails.employerPhone"
        class="error-message"
      >
        Employer Mobile Number is required.
      </p>
    </div>
    <div class="form_control">
      <label class="input_label">
        Telephone
      </label>
      <input
        type="text"
        name="surname"
        [(ngModel)]="formData.employerDetails.employerTelephone"
        class="input_area"
        required
      />
      <p
        *ngIf="formSubmitted && !formData.employerDetails.employerTelephone"
        class="error-message"
      >
        Employer Telephone Number is required.
      </p>
    </div>

    <div class="form_control">
      <label class="input_label">
        Street Address
      </label>
      <input
        type="text"
        name="idNumber"
        [(ngModel)]="
          formData.employerDetails.createAddressCommand.residenceNumber
        "
        class="input_area"
        required
      />
      <p
        *ngIf="
          formSubmitted &&
          !formData.employerDetails.createAddressCommand.residenceNumber
        "
        class="error-message"
      >
        Employer Street Address is required.
      </p>
    </div>
    <div class="form_control">
      <label class="input_label">
        Suburb
      </label>
      <input
        type="text"
        name="dateOfBirth"
        [(ngModel)]="formData.employerDetails.createAddressCommand.suburb"
        class="input_area"
        required
      />
      <p
        *ngIf="
          formSubmitted && !formData.employerDetails.createAddressCommand.suburb
        "
        class="error-message"
      >
        Employer Surbub is required.
      </p>
    </div>
    <div class="form_control">
      <label class="input_label">
        City
      </label>
      <select
        name="cityId"
        [(ngModel)]="formData.employerDetails.createAddressCommand.cityId"
        required
        class="input_area"
      >
        <option *ngFor="let city of cities" [value]="city.id">{{
          city.name
        }}</option>
      </select>
      <p
        *ngIf="
          formSubmitted && !formData.employerDetails.createAddressCommand.cityId
        "
        class="error-message"
      >
        Employer City is required.
      </p>
    </div>
  </form>
  <div class="navigation-buttons-container">
    <button (click)="handlePrev()" class="navigation-button">Previous</button>
    <button (click)="handleNext()" class="navigation-button">Next</button>
  </div>
</div>
