<div class="multistep-form">
  <div class="section-heading-container">
    <h1 class="section-heading-bg">Contact Details</h1>
    <p class="section-heading-sm">Personal Contact Details</p>
  </div>
  <form class="add-category-details-cont">
    <div class="form_control">
      <label class="input_label">
        Email
      </label>
      <input
        type="email"
        name="email"
        required
        [(ngModel)]="formData.contactDetails.email"
        placeholder="Email"
        class="input_area"
      />
      <div class="error-container">
        <p
          *ngIf="formSubmitted && !formData.contactDetails.email"
          class="error-message"
        >
          Email is required.
        </p>
        <p
          *ngIf="
            formSubmitted && (!formData.contactDetails.email || errorMessage)
          "
          class="error-message"
        >
          {{ errorMessage }}
        </p>
      </div>
    </div>

    <div class="form_control">
      <label class="input_label">
        Mobile Number
      </label>
      <input
        type="text"
        name="mobileNumber"
        required
        [(ngModel)]="formData.contactDetails.contactPhoneNumber"
        placeholder="Mobile Number"
        class="input_area"
      />
      <div class="error-container">
        <p
          *ngIf="formSubmitted && !formData.contactDetails.contactPhoneNumber"
          class="error-message"
        >
          Contact Number is required.
        </p>
      </div>
    </div>
    <div class="form_control">
      <label class="input_label">
        Telephone
      </label>
      <input
        type="text"
        name="telephone"
        required
        [(ngModel)]="formData.contactDetails.contactTelephone"
        placeholder="Telephone"
        class="input_area"
      />
      <div class="error-container">
        <p
          *ngIf="formSubmitted && !formData.contactDetails.contactTelephone"
          class="error-message"
        >
          Telephone is required.
        </p>
      </div>
    </div>
    <div class="form_control">
      <label class="input_label">
        Communication Type
      </label>
      <select
        name="communicationId"
        [(ngModel)]="formData.contactDetails.communicationId"
        required
        class="input_area"
      >
        <option
          *ngFor="let communicationType of communicationTypes"
          [value]="communicationType.id"
          >{{ communicationType.name }}</option
        >
      </select>
      <div class="error-container">
        <p
          *ngIf="formSubmitted && !formData.contactDetails.communicationId"
          class="error-message"
        >
          Communication Type is required.
        </p>
      </div>
    </div>
    <div class="form_control">
      <label class="input_label">
        Resident Number
      </label>
      <input
        type="text"
        required
        name="residentNumber"
        [(ngModel)]="
          formData.contactDetails.createAddressCommand.residenceNumber
        "
        placeholder="Resident Number"
        class="input_area"
      />
      <div class="error-container">
        <p
          *ngIf="
            formSubmitted &&
            !formData.contactDetails.createAddressCommand.residenceNumber
          "
          class="error-message"
        >
          Resident Number is required.
        </p>
      </div>
    </div>
    <div class="form_control">
      <label class="input_label">
        Suburb
      </label>
      <input
        type="text"
        name="suburb"
        required
        [(ngModel)]="formData.contactDetails.createAddressCommand.suburb"
        placeholder="Suburb"
        class="input_area"
      />
      <div class="error-container">
        <p
          *ngIf="
            formSubmitted &&
            !formData.contactDetails.createAddressCommand.suburb
          "
          class="error-message"
        >
          Surbub is required.
        </p>
      </div>
    </div>
    <div class="form_control">
      <label class="input_label">
        City
      </label>
      <select
        name="cityId"
        [(ngModel)]="formData.contactDetails.createAddressCommand.cityId"
        required
        class="input_area"
      >
        <option *ngFor="let city of cities" [value]="city.id">{{
          city.name
        }}</option>
      </select>
      <div class="error-container">
        <p
          *ngIf="
            formSubmitted &&
            !formData.contactDetails.createAddressCommand.cityId
          "
          class="error-message"
        >
          City is required.
        </p>
      </div>
    </div>
  </form>
  <div class="navigation-buttons-container">
    <button (click)="handlePrev()" class="navigation-button">Previous</button>
    <button (click)="handleNext()" class="navigation-button">Next</button>
  </div>
</div>
