<div class="multistep-form">
  <div class="section-heading-container">
    <h1 class="section-heading-bg">Personal Details</h1>
    <p class="section-heading-sm">Personal Contact Details</p>
  </div>
  <form class="add-category-details-cont">
    <div class="form_control">
      <label class="input_label">
        Title
      </label>
      <select
        name="titleId"
        [(ngModel)]="formData.titleId"
        required
        class="input_area"
        (change)="handleTitleChange($event)"
      >
        <option *ngFor="let title of titles" [value]="title.id">{{
          title.name
        }}</option>
      </select>
      <p *ngIf="formSubmitted && !formData.titleId" class="error-message">
        Title is required.
      </p>
    </div>

    <div class="form_control">
      <label class="input_label">
        Gender
      </label>
      <select
        name="genderId"
        [(ngModel)]="formData.genderId"
        required
        class="input_area"
        (change)="handleGenderChange($event)"
      >
        <option *ngFor="let gender of genders" [value]="gender.id">{{
          gender.name
        }}</option>
      </select>
      <p *ngIf="formSubmitted && !formData.genderId" class="error-message">
        Gender is required.
      </p>
    </div>

    <div class="form_control">
      <label class="input_label">
        First Name
      </label>
      <input
        type="text"
        name="firstName"
        [(ngModel)]="formData.firstName"
        placeholder="First Name"
        class="input_area"
        required
      />
      <p *ngIf="formSubmitted && !formData.firstName" class="error-message">
        First Name is required.
      </p>
    </div>

    <div class="form_control">
      <label class="input_label">
        Surname
      </label>
      <input
        type="text"
        name="surname"
        [(ngModel)]="formData.surname"
        placeholder="Surname"
        class="input_area"
        required
      />
      <p *ngIf="formSubmitted && !formData.surname" class="error-message">
        Surname is required.
      </p>
    </div>

    <div class="form_control">
      <label class="input_label">
        ID Number <span class="id-guide">Format: 187823458A34</span>
      </label>
      <input
        type="text"
        name="idNumber"
        [(ngModel)]="formData.nationalIdNumber"
        placeholder="ID Number"
        class="input_area"
        required
      />
      <p
        *ngIf="formSubmitted && !formData.nationalIdNumber"
        class="error-message"
      >
        ID Number is required.
      </p>
    </div>

    <div class="form_control">
      <label class="input_label">
        Date of Birth
      </label>
      <input
        type="date"
        name="dateOfBirth"
        [(ngModel)]="formData.dateOfBirth"
        placeholder="Date of Birth"
        class="input_area"
        required
      />
      <p *ngIf="formSubmitted && !formData.dateOfBirth" class="error-message">
        Date of birth is required.
      </p>
      <p
        *ngIf="formData.dateOfBirth && isFutureDate(formData.dateOfBirth)"
        class="error-message"
      >
        Date of Birth must be in the past.
      </p>
    </div>

    <div class="form_control">
      <label class="input_label">
        Occupation
      </label>
      <input
        type="text"
        name="occupation"
        [(ngModel)]="formData.occupation"
        placeholder="Occupation"
        class="input_area"
        required
      />
      <p *ngIf="formSubmitted && !formData.occupation" class="error-message">
        Occupation is required.
      </p>
    </div>

    <div class="form_control">
      <label class="input_label">
        Employment Status
      </label>
      <select
        name="employmentStatus"
        [(ngModel)]="formData.employmentStatus"
        required
        class="input_area"
      >
        <option value="Self Employed">Self Employed</option>
        <option value="Employed">Employed</option>
        <option value="Unempoyed">Unempoyed</option>
      </select>
      <p
        *ngIf="formSubmitted && !formData.employmentStatus"
        class="error-message"
      >
        Employment Status is required.
      </p>
    </div>
  </form>
  <div class="navigation-buttons-container">
    <button (click)="handleNext()" class="navigation-button">Next</button>
  </div>
</div>
